<!-- profile.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<div class="profile-container ion-padding">  
  <div class="profile-header">
    <h3 class="profile-username">{{ personnel_username }}</h3>
    <ion-item>
      <ion-label>ID</ion-label>
      <ion-text>{{ currentUser.id }}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-text>{{ currentUser.personnel_email }}</ion-text>
    </ion-item>
  </div>
  <div class="profile-roles">
    <ion-item>
      <ion-label>Roles</ion-label>
      <ion-list lines="none">
        <ion-item *ngFor="let role of currentUser.roles">{{ role }}</ion-item>
      </ion-list>
    </ion-item>
  </div>
</div>
