<ion-header class="header" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="isLoggedIn">
      <ion-label href="/profile" class="nav-link" routerLink="profile">{{ personnel_username }}</ion-label>
    </ion-buttons>

    <ion-title href="/home" class="nav-link" routerLink="home">โชคดีการเกษตร</ion-title>
    
    <ion-buttons slot="end" *ngIf="isLoggedIn">
      <ion-label href (click)="logout()">ออกจากระบบ</ion-label>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="app">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
</ion-content>
  