<ion-list class="navbar-nav mr-auto" routerLinkActive="active">
  <ion-grid [fixed]="true">
    <ion-row class="menu-row">
      <ion-col  class="nav-link" *ngIf="showAdminBoard" routerLink="/order">
        <div class="custom-card secondary-card">
          <ion-icon name="cart-outline" class="menu-icon"></ion-icon>
          <ion-label class="menu-label">สั่งซื้อสินค้า</ion-label>
        </div>
      </ion-col>

      <ion-col  class="nav-link" *ngIf="showAdminBoard" routerLink="/list">
        <div class="custom-card tertiary-card">
          <ion-icon name="list-outline" class="menu-icon"></ion-icon>
          <ion-label class="menu-label">รายการสินค้า</ion-label>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="menu-row">
      <ion-col  class="nav-link" *ngIf="showAdminBoard" routerLink="/admin">
        <div class="custom-card tertiary-card">
          <ion-icon name="add-outline" class="menu-icon"></ion-icon>
          <ion-label class="menu-label">เพิ่มรายการสินค้า</ion-label>
        </div>
      </ion-col>

      <ion-col  class="nav-link" *ngIf="showAdminBoard" routerLink="/order-list">
        <div class="custom-card secondary-card">
          <ion-icon name="time-outline" class="menu-icon"></ion-icon>
          <ion-label class="menu-label">คำสั่งซื้อย้อนหลัง</ion-label>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="menu-row">
      <ion-col  class="nav-link" *ngIf="showAdminBoard" routerLink="/personnel-list">
        <div class="custom-card secondary-card">
          <ion-icon name="people-outline" class="menu-icon"></ion-icon>
          <ion-label class="menu-label">รายชื่อพนักงาน</ion-label>
        </div>
      </ion-col>

      <ion-col  class="nav-link" *ngIf="showAdminBoard" routerLink="/register">
        <div class="custom-card tertiary-card">
          <ion-icon name="person-add-outline" class="menu-icon"></ion-icon>
          <ion-label class="menu-label">เพิ่มรายชื่อพนักงาน</ion-label>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="menu-row">
      <ion-col  class="nav-link" *ngIf="showUser" routerLink="/order">
        <div class="custom-card secondary-card">
          <ion-icon name="cart-outline" class="menu-icon"></ion-icon>
          <ion-label class="menu-label">สั่งซื้อสินค้า</ion-label>
        </div>
      </ion-col>

      <ion-col  class="nav-link" *ngIf="showUser" routerLink="/order-list">
        <div class="custom-card tertiary-card">
          <ion-icon name="time-outline" class="menu-icon"></ion-icon>
          <ion-label class="menu-label">คำสั่งซื้อย้อนหลัง</ion-label>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-list>
