<ion-header class="header" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-padding-center">เพิ่มรายชื่อพนักงาน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-card>
      <ion-item>
        <ion-label position="floating">
          รูปภาพ
        </ion-label>
        <ion-input 
          placeholder="Enter text" 
          id="ps_img" required 
          >
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">
          ชื่อ
        </ion-label>
        <ion-input 
          placeholder="Enter text" 
          id="first_name" required 
          >
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">
          นามสกุล
        </ion-label>
        <ion-input 
          placeholder="Enter text" 
          id="last_name" required 
          >
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">
          เลขบัตรประชาชน
        </ion-label>
        <ion-input 
          placeholder="Enter text" 
          id="card_id" required 
          >
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">
          เบอร์โทรศัพท์
        </ion-label>
        <ion-input 
          placeholder="Enter text" 
          id="phone_number" required 
          >
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">
          Username
        </ion-label>
        <ion-input 
          placeholder="Enter text" 
          >
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">
          Email
        </ion-label>
        <ion-input 
          placeholder="Enter text" 
          >
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">
          Password
        </ion-label>
        <ion-input 
          placeholder="Enter text"
          >
        </ion-input>
      </ion-item>

        <ion-button class="form-group" expand="block" color="success">
          Sign Up
        </ion-button>
</ion-card>

