<ion-header class="header" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button size="small" (click)="goBack()" icon-start>
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-padding-center">แก้ไขรายชื่อพนักงาน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-card *ngIf="currentUser.id">
  <ion-item>
    <input type="file" #fileInput style="display: none" (change)="selectFile($event)" />
    <div class="upload-box" (click)="fileInput.click()">
      <ion-icon name="camera" class="camera-icon"></ion-icon>
      <div class="upload-text">Select Image</div>
    </div>
    <ion-icon *ngIf="selectedFiles" name="checkmark-circle-outline" class="selected-icon"></ion-icon>
    <span *ngIf="selectedFiles" class="file-name">{{ selectedFiles.item(0)?.name }}</span>
  </ion-item>

  <ion-item>
    <ion-label for="personnel_fname" position="floating">ชื่อ</ion-label>
    <ion-input placeholder="Enter text" id="personnel_fname" [(ngModel)]="currentUser.personnel_fname"
      name="personnel_fname">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" for="personnel_lname">นามสกุล</ion-label>
    <ion-input placeholder="Enter text" id="personnel_lname" [(ngModel)]="currentUser.personnel_lname"
      name="personnel_lname">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" for="personnel_caedID">เลขบัตรประชาชน</ion-label>
    <ion-input placeholder="Enter text" id="personnel_caedID" [(ngModel)]="currentUser.personnel_caedID"
      name="personnel_caedID" maxlength="13">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" for="personnel_phone">เบอรืโทรศัพท์</ion-label>
    <ion-input placeholder="Enter text" id="personnel_phone" [(ngModel)]="currentUser.personnel_phone"
      name="personnel_phone" maxlength="10">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" for="personnel_email">Email</ion-label>
    <ion-input placeholder="Enter text" id="personnel_email" [(ngModel)]="currentUser.personnel_email"
      name="personnel_email">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" for="personnel_username">User Name</ion-label>
    <ion-input placeholder="Enter text" id="personnel_username" [(ngModel)]="currentUser.personnel_username"
      name="personnel_username">
    </ion-input>
  </ion-item>

  <ion-button (click)="deletePersonnel()" color="danger" expand="block" class="action-button">
    ลบ
  </ion-button>

  <ion-button (click)="updatePersonnel()" color="success" expand="block" class="action-button">
    อัปเดต
  </ion-button>

  <ion-item>
    <p>{{ message }}</p>
  </ion-item>

</ion-card>