<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button size="small" (click)="goBack()" icon-start>
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Order History
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-card>
  <!-- Search bar -->
  <ion-searchbar
    (ionChange)="filterOrders($event)"
    placeholder="Search by Order ID or Delivery Status"
  ></ion-searchbar>

  <!-- Dropdown for delivery status selection -->
  <ion-select [(ngModel)]="deliveryStatus" (ionChange)="filterOrders($event)">
    <ion-select-option value="all">All</ion-select-option>
    <ion-select-option value="จัดส่งแล้ว">จัดส่งแล้ว</ion-select-option>
    <ion-select-option value="รอการจัดส่ง">รอการจัดส่ง</ion-select-option>
  </ion-select>

  <ion-list>
    <ion-item *ngFor="let orderId of orders" (click)="viewOrderDetails(orderId[0].order_id)">
      <ion-label>
        <h2>Order ID: {{ orderId[0].order_id }}</h2>
        <ion-item>
          <div>
            <h3>Customer: {{ orderId[0].order_Customer}}</h3>
            <p>Price: {{SumTotalprice(orderId)}}</p>
            <p>Date: {{ orderId[0].order_Date | date: 'dd/MM/yyyy' }}</p>
          </div>
          <ion-badge *ngIf="orderId[0].order_Type_Delivery" slot="end"
            [color]="orderId[0].order_Delivery_Status ? 'secondary' : 'primary'" class="delivery-status-badge">
            {{ orderId[0].order_Delivery_Status ? 'จัดส่งแล้ว' : 'รอการจัดส่ง' }}
          </ion-badge>
        </ion-item>
        <!-- <ion-item *ngFor="let order of getOrdersByOrderId(orderId)"> -->
        <!-- <h3>Customer: {{ order.order_Product_ID }}</h3>
          <p>Date: {{ order.order_Date | date: 'dd/MM/yyyy' }}</p> -->
        <!-- </ion-item> -->
      </ion-label>
    </ion-item>
  </ion-list>
</ion-card>