<ion-header class="header" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title class=" ion-padding-center">เพิ่มรายการสินค้า</ion-title>
  </ion-toolbar>
</ion-header>

<ion-card *ngIf="!submitted">
  <ion-item>
    <ion-label position="floating">
      Name of Product
    </ion-label>
    <ion-input 
      placeholder="Enter text" 
      id="product_name" required 
      [(ngModel)]="product.product_name">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">
      Name of Product Brand
    </ion-label>
    <ion-input 
      placeholder="Enter text" 
      id="product_brand" required 
      [(ngModel)]="product.product_brand">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">
      Description
    </ion-label>
    <ion-input 
      placeholder="Enter text" 
      id="product_description" required 
      [(ngModel)]="product.product_description">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">
      Image of Product
    </ion-label>
    <ion-input 
      placeholder="Enter text" 
      id="product_img" required 
      [(ngModel)]="product.product_img">
    </ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">
      Quantity of Product
    </ion-label>
    <ion-input 
      placeholder="Enter text" 
      id="product_quantity" required 
      [(ngModel)]="product.product_quantity">
    </ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">
      Other Detail
    </ion-label>
    <ion-input 
      placeholder="Enter text" 
      id="product_other_detail" required 
      [(ngModel)]="product.product_other_detail">
    </ion-input>
  </ion-item>
  
    <ion-button (click)="saveProduct()" expand="block" color="success">
      Submit
    </ion-button>
  
</ion-card>
