<ion-header class="ion-no-border">
  <ion-toolbar color="medium">
    <ion-title class="ion-text-center">เข้าสู่ระบบ</ion-title>
  </ion-toolbar>
</ion-header>


  <ion-card>
    <ion-card-content>
      <form *ngIf="!isLoggedIn" (ngSubmit)="onSubmit()" #f="ngForm">
        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input
            type="text"
            name="username"
            [(ngModel)]="form.username"
            required
          ></ion-input>
        </ion-item>
        <div
          class="ion-text-danger"
          *ngIf="f.submitted && f.form.controls['username'].invalid"
        >
          Username is required!
        </div>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input
            type="password"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="6"
          ></ion-input>
        </ion-item>
        <div
          class="ion-text-danger"
          *ngIf="f.submitted && f.form.controls['password'].invalid"
        >
          <div *ngIf="f.form.controls['password'].errors?.['required']">
            Password is required
          </div>
          <div *ngIf="f.form.controls['password'].errors?.['minlength']">
            Password must be at least 6 characters
          </div>
        </div>

        <ion-button expand="full" color="primary" type="submit" class="custom-button">
          Login
        </ion-button>

        <div class="ion-text-danger" *ngIf="f.submitted && isLoginFailed">
          Login failed: {{ errorMessage }}
        </div>

        <div class="alert alert-success" *ngIf="isLoggedIn">
          Logged in as.
        </div>
      </form>
    </ion-card-content>
  </ion-card>
