<ion-header class="header" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-padding-center">Personnel List </ion-title>
  </ion-toolbar>
</ion-header>


  <!-- <ion-searchbar mode="ios" placeholder="ชื่อสินค้า" [(ngModel)]="product_name" ></ion-searchbar> -->
  <ion-card>
    <ion-list
        *ngFor="let user of users; let i = index"
        [class.active]="i == currentIndex"
        (click)="goToDetailPage(user.id)"
      >
        <ion-item>
          <ion-thumbnail slot="start">
          <img src= "{{ user.personnel_img }}" />
          </ion-thumbnail>
          <ion-label>
            <h2>{{ user.personnel_username }}</h2>
            <small>{{ user.personnel_email }}</small>
          </ion-label>
          
          <!-- <a [class.active]="i == currentIndex">
            {{ personnel.personnel_quantity }}
          </a> -->
      </ion-item>
    </ion-list>
    <!-- <button (click)="removeAllProducts()">
      Remove All
    </button> -->
    <ion-infinite-scroll>
      <ion-infinite-scroll-content loadingText="Please wait..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-card>
    
      

    
