<ion-header class="header" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button size="small" (click)="goBack()" icon-start>
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-padding-center">รายละเอียดพนักงาน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-card>
  <ion-card class="profile-card">
    <ion-item class="profile-image">
      <div class="avatar-wrapper">
        <img class="avatar" [src]="getSafeImageURL(currentUser.personnel_img)" alt="User Image" />
      </div>
    </ion-item>
  </ion-card>
  <ion-item>
    <ion-label><strong>ID:</strong></ion-label>
    <ion-text>{{ currentUser.id }}</ion-text>
  </ion-item>
  <ion-item>
    <ion-label><strong>ชื่อ:</strong></ion-label>
    <ion-text>{{ currentUser.personnel_fname }}</ion-text>
  </ion-item>
  <ion-item>
    <ion-label><strong>นามสกุล:</strong></ion-label>
    <ion-text>{{ currentUser.personnel_lname }}</ion-text>
  </ion-item>
  <ion-item>
    <ion-label><strong>เบอร์โทรศัพท์:</strong></ion-label>
    <ion-text>{{ currentUser.personnel_phone }}</ion-text>
  </ion-item>
  <ion-item>
    <ion-label><strong>เลขบัตรประชาชน:</strong></ion-label>
    <ion-text>{{ currentUser.personnel_caedID }}</ion-text>
  </ion-item>
  <ion-item>
    <ion-label><strong>Email:</strong></ion-label>
    <ion-text>{{ currentUser.personnel_email }}</ion-text>
  </ion-item>
  <ion-item>
    <ion-label><strong>User Name:</strong></ion-label>
    <ion-text>{{ currentUser.personnel_username }}</ion-text>
  </ion-item>
  
  <ion-button routerLink="/personnel-edit/{{ currentUser.id }}" expand="block" color="warning">
    แก้ไข
  </ion-button>
</ion-card>

<div class="no-data" *ngIf="!currentUser">
  <br />
  <p>Please click on a Product...</p>
</div>