<div *ngIf="currentProduct.id" class="edit-form">
  <h4>Edit Product</h4>
  <form>
    <div class="form-group">
      <label for="product_name">Name of Product</label>
      <input
        type="text"
        class="form-control"
        id="product_name"
        [(ngModel)]="currentProduct.product_name"
        name="product_name"
      />
    </div>
    <div class="form-group">
      <label for="product_brand">Name of Product Brand</label>
      <input
        type="text"
        class="form-control"
        id="product_brand"
        [(ngModel)]="currentProduct.product_brand"
        name="product_brand"
      />
    </div>
    <div class="form-group">
      <label for="product_description">Description</label>
      <input
        type="text"
        class="form-control"
        id="product_description"
        [(ngModel)]="currentProduct.product_description"
        name="product_description"
      />
    </div>
    <div class="form-group">
      <label for="product_img">Image of Product</label>
      <input
        type="text"
        class="form-control"
        id="product_img"
        [(ngModel)]="currentProduct.product_img"
        name="product_img"
      />
    </div>
    <div class="form-group">
      <label for="product_quantity">Quantity of Product</label>
      <input
        type="text"
        class="form-control"
        id="product_quantity"
        [(ngModel)]="currentProduct.product_quantity"
        name="product_quantity"
      />
    </div>
    <div class="form-group">
      <label for="product_other_detail">Other Detail</label>
      <input
        type="text"
        class="form-control"
        id="product_other_detail"
        [(ngModel)]="currentProduct.product_other_detail"
        name="product_other_detail"
      />
    </div>

    <div class="form-group">
      <label><strong>Status:</strong></label>
      {{ currentProduct.product_published ? "ขายได้" : "ขายไม่ได้" }}
    </div>
  </form>

  <button
    class="badge badge-primary mr-2"
    *ngIf="currentProduct.product_published"
    (click)="updatePublished(false)"
  >
    ขายไม่ได้
  </button>
  <button
    *ngIf="!currentProduct.product_published"
    class="badge badge-primary mr-2"
    (click)="updatePublished(true)"
  >
    ขายได้
  </button>

  <button class="badge badge-danger mr-2" (click)="deleteProduct()">
    Delete
  </button>

  <button
    type="submit"
    class="badge badge-success mb-2"
    (click)="updateProduct()"
  >
    Update
  </button>
  <p>{{ message }}</p>
</div>

<div *ngIf="!currentProduct.id">
  <br />
  <p>Cannot access this Product...</p>
</div>