<ion-header class="header" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button size="small" (click)="goBack()" icon-start>
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-padding-center">แก้ไขรายการสินค้า</ion-title>
  </ion-toolbar>
</ion-header>


  <ion-card class="product-card" *ngIf="currentProduct.id">
    <ion-item>
      <input type="file" #fileInput style="display: none" (change)="selectFile($event)" />
      <div class="upload-box" *ngIf="!selectedImage" (click)="fileInput.click()">
        <ion-icon name="camera" class="camera-icon"></ion-icon>
        <div class="upload-text">เลือกรูปภาพ</div>
      </div>
      <img [src]="selectedImage" *ngIf="selectedImage" class="selected-image" (click)="fileInput.click()" />
      <ion-icon *ngIf="selectedImage" name="checkmark-circle-outline" class="selected-icon"></ion-icon>
      <span *ngIf="selectedImage" class="file-name">{{ selectedFiles?.item(0)?.name }}</span>
    </ion-item>

    <ion-item>
      <ion-label position="floating" for="product_name">ชื่อสินค้า</ion-label>
      <ion-input
        placeholder="กรอกข้อความ"
        id="product_name"
        [(ngModel)]="currentProduct.product_name"
        name="product_name"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" for="product_brand">แบรนด์สินค้า</ion-label>
      <ion-input
        placeholder="กรอกข้อความ"
        id="product_brand"
        [(ngModel)]="currentProduct.product_brand"
        name="product_brand"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" for="product_description">คำอธิบายสินค้า</ion-label>
      <ion-textarea
        placeholder="กรอกข้อความ"
        id="product_description"
        [(ngModel)]="currentProduct.product_description"
        name="product_description"
      ></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label class="custom-label">
        จำนวนสินค้า
      </ion-label>
      <ion-input
        placeholder="กรอกข้อความ"
        id="product_quantity"
        [(ngModel)]="currentProduct.product_quantity"
        name="product_quantity"
      ></ion-input>
      <ion-label position="after" class="custom-unit">
        ชิ้น
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="custom-label">
        ราคา
      </ion-label>
      <ion-input
        placeholder="กรอกข้อความ"
        id="product_price"
        [(ngModel)]="currentProduct.product_price"
        name="product_price"
      ></ion-input>
      <ion-label position="after" class="custom-unit">
        บาท
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label position="floating" for="product_other_detail">รายละเอียดอื่น ๆ</ion-label>
      <ion-textarea
        placeholder="กรอกข้อความ"
        id="product_other_detail"
        [(ngModel)]="currentProduct.product_other_detail"
        name="product_other_detail"
      ></ion-textarea>
    </ion-item>

    <ion-button (click)="deleteProduct()" color="danger" expand="block" class="action-button">
      ลบ
    </ion-button>

    <ion-button (click)="updateProduct()" color="success" expand="block" class="action-button">
      อัปเดต
    </ion-button>

    <ion-item>
      <ion-text>{{ message }}</ion-text>
    </ion-item>

    <ion-item *ngIf="!currentProduct.id">
      <br />
      <ion-text color="medium">
        <p>ไม่สามารถเข้าถึงสินค้านี้ได้...</p>
      </ion-text>
    </ion-item>
  </ion-card>

