<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button size="small" (click)="goBack()" icon-start>
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      รายละเอียดการจัดส่ง
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-card>
  <ion-list>
    <ion-item>
      <ion-label>ชื่อ</ion-label>
      <ion-input [(ngModel)]="deliveryDetails.order_Customer" name="order_Customer" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>เบอร์โทรศัพท์</ion-label>
      <ion-input [(ngModel)]="deliveryDetails.order_Customer_Contact" name="order_Customer_Contact" type="tel" required
        inputmode="numeric" pattern="[0-9]*" maxlength="10" (ionInput)="onInput()"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-segment [(ngModel)]="deliveryMethod">
        <ion-segment-button value="pickup">
          <ion-label>รับกลับ</ion-label>
        </ion-segment-button>
        <ion-segment-button value="delivery">
          <ion-label>จัดส่ง</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-item>

    <ion-item *ngIf="isDeliveryMethodSelected('delivery')">
      <ion-label>ที่อยู่</ion-label>
      <ion-textarea [(ngModel)]="deliveryDetails.order_Customer_Address" name="order_Customer_Address"
        rows="4"></ion-textarea>
    </ion-item>
    <!-- Add more form fields as needed -->
  </ion-list>

  <ion-item>
    <ion-label>ช่องทางการชำระเงิน</ion-label>
    <ion-radio-group [(ngModel)]="paymentMethod" name="paymentMethod">
      <ion-item>
        <ion-label>เงินสด</ion-label>
        <ion-radio slot="start" value="cash"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>โอนจ่าย</ion-label>
        <ion-radio slot="start" value="transfer"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-item>

  <ion-button expand="full" (click)="placeOrder()" [disabled]="!isFormValid()">สั่งซื้อสินค้า</ion-button>
</ion-card>