<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button size="small" (click)="goBack()" icon-start>
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Delivery Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-card>
  <ion-list>
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input [(ngModel)]="deliveryDetails.order_Customer" name="order_Customer" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Contact Number</ion-label>
      <ion-input [(ngModel)]="deliveryDetails.order_Customer_Contact" name="order_Customer_Contact" type="tel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Delivery Method</ion-label>
      <ion-segment [(ngModel)]="deliveryMethod">
        <ion-segment-button value="pickup">
          <ion-label>Pickup</ion-label>
        </ion-segment-button>
        <ion-segment-button value="delivery">
          <ion-label>Delivery</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-item>

    <ion-item *ngIf="isDeliveryMethodSelected('delivery')">
      <ion-label>Delivery Address</ion-label>
      <ion-textarea [(ngModel)]="deliveryDetails.order_Customer_Address" name="order_Customer_Address" rows="4"></ion-textarea>
    </ion-item>
    <!-- Add more form fields as needed -->
  </ion-list>

  <ion-item>
    <ion-label>Payment Method</ion-label>
    <ion-radio-group [(ngModel)]="paymentMethod" name="paymentMethod">
      <ion-item>
        <ion-label>Cash</ion-label>
        <ion-radio slot="start" value="cash"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Transfer</ion-label>
        <ion-radio slot="start" value="transfer"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-item>

  <ion-button expand="full" (click)="placeOrder()">Place Order</ion-button>
</ion-card>
