<ion-header  class="header" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button size="small" (click)="goBack()" icon-start>
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-padding-center">รายละเอียดสินค้า</ion-title>
  </ion-toolbar>
</ion-header>


  <ion-card class="product-card">
    <ion-item>
      <ion-label><strong>ID:</strong></ion-label>
      <ion-text>{{ currentProduct.id }}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label><strong>Title:</strong></ion-label>
      <ion-text>{{ currentProduct.product_name }}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label><strong>Description:</strong></ion-label>
      <ion-text>{{ currentProduct.product_description }}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label><strong>Status:</strong></ion-label>
      <ion-text>{{ currentProduct.product_published ? "จัดส่งแล้ว" : "รอการจัดส่ง..." }}</ion-text>
    </ion-item>

    <ion-button routerLink="/product-edit/{{ currentProduct.id }}" expand="block" color="warning">
      Edit
    </ion-button>

    <div *ngIf="!currentProduct" class="no-product">
      <ion-text color="medium">
        <p>Please click on a Product...</p>
      </ion-text>
    </div>
  </ion-card>

