<ion-header class="header" mode="ios">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-light ion-padding-center">รายละเอียดสินค้า</ion-title>
  </ion-toolbar>
</ion-header>

<ion-card>
  <ion-item>
    <ion-label><strong>ID:</strong></ion-label>
    {{ currentProduct.id }}
  </ion-item>
  <ion-item>
    <ion-label><strong>Title:</strong></ion-label>
    {{ currentProduct.product_name }}
  </ion-item>
  <ion-item>
    <ion-label><strong>Description:</strong></ion-label>
    {{ currentProduct.product_description }}
  </ion-item>
  <ion-item>
    <ion-label><strong>Status:</strong></ion-label>
    {{ currentProduct.product_published ? "จัดส่งแล้ว" : "รอการจัดส่ง..." }}
  </ion-item>

  <ion-button routerLink="/product-edit/{{ currentProduct.id }}" expand="block" color="warning">
    Edit
  </ion-button>

    <div *ngIf="!currentProduct">
      <br />
      <p>Please click on a Product...</p>
    </div>
</ion-card>

