<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button size="small" (click)="goBack()" icon-start>
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      เพิ่มรายชื่อพนักงาน
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-card>
  <ion-card-content>
    <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
      <!-- โปรดแก้ไขฟิลด์และเพิ่มฟิลด์ตามต้องการ -->
      <ion-item>
        <input type="file" #fileInput style="display: none" (change)="selectFile($event)" />
        <div class="upload-box" (click)="fileInput.click()">
          <ion-icon name="camera" class="camera-icon"></ion-icon>
          <div class="upload-text">Select Image</div>
        </div>
        <ion-icon *ngIf="selectedFiles" name="checkmark-circle-outline" class="selected-icon"></ion-icon>
        <span *ngIf="selectedFiles" class="file-name">{{ selectedFiles.item(0)?.name }}</span>
      </ion-item>


      <ion-item>
        <ion-label position="floating">First Name</ion-label>
        <ion-input type="text" [(ngModel)]="form.personnel_fname" name="personnel_fname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Last Name</ion-label>
        <ion-input type="text" [(ngModel)]="form.personnel_lname" name="personnel_lname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Card ID</ion-label>
        <ion-input type="text" [(ngModel)]="form.personnel_caedID" name="personnel_caedID"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Phone</ion-label>
        <ion-input type="text" [(ngModel)]="form.personnel_phone" name="personnel_phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="form.personnel_email" name="personnel_email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input type="text" [(ngModel)]="form.personnel_username" name="personnel_username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="form.personnel_password" name="personnel_password"></ion-input>
      </ion-item>
      <!-- <ion-item>
          <input type="file" (change)="selectFile($event)" />
        </ion-item> -->
      <div class="form-group">
        <ion-button expand="block" type="submit">Sign Up</ion-button>
      </div>
    </form>

    <div class="alert alert-warning" *ngIf="registerForm.submitted && isSignUpFailed">
      Signup failed!<br />{{ errorMessage }}
    </div>
    <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful!
    </div>

    <ion-item>
    </ion-item>

  </ion-card-content>
</ion-card>